node_modules
**/node_modules
.next
**/.next
dist
**/dist
out
.turbo
**/.turbo
.git
.github
.vscode
.env
.env.*
!.env.example
coverage
**/coverage
playwright-report
**/playwright-report
test-results
**/test-results
*.log
npm-debug.log*
.DS_Store
