node_modules
.pnpm-store
dist
build
.next
out
coverage
.turbo
*.tsbuildinfo
.env
.env.local
.env.test
.env.*.local
!.env.example
.DS_Store
*.log
npm-debug.log*
pnpm-debug.log*
.vscode/*
!.vscode/extensions.json
**/storage/uploads/*
!**/storage/uploads/.gitkeep
test-results
playwright-report
blob-report
.idea
